body {width:960px; margin:5px auto; font-family:Arial, Sans Serif}
td.design {font-weight:bold; font-size:1.3em;}
.hidden {display:none;}
.visible {display:block; padding:10px 5%;}
h1 {text-align:center;}
h1 {background-color:#303F7D; color:#FFF; padding:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px}
h1, h2, h3 {margin:0}
.active {font-size:1.3em;}
p span.active  {font-family: consolas, courier, monospace; color:maroon}
optgroup {color:#fff; background-color:#303F7D; font-family:monospace; font-style:normal; font-size:1.15em; margin:0 0 10px 0}
option {background-color:white; color:black; font-family:sans serif; font-size:12pt; padding:3px; border-top:1px solid #ddd}
option.alternate {color:black; background-color:#F4FDE4;}
option.selected {background-color:#323B5E; color:#FFF;}
.bigDiv h2 {padding:5px 10px; font-size:1.4em; background-color:#323B5E; color:#fff; border-radius-topleft:5px; -moz-border-radius-topleft:5px; -webkit-border-radius-topleft:5px; border-radius-topright:5px; -moz-border-radius-topright:5px; -webkit-border-radius-topright:5px; border-radius:5px;}
h4 {margin:10px 0 3px 0;}
.bigDiv {-o-border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; border:1px solid #323B5E; margin:10px 0;background-color: #F9FEF0; padding:0 0 10px 0}
.bigDiv p {margin:15px 10px;}
.bigDiv h3 {margin:10px 10px 0 10px;}
.bigDiv .visible h3 {margin:10px 0px 0 0px;}
.bigDiv h4 {margin:15px 0 5px 0;  font-size:1.25em;}
.bigDiv table {background-color:#fff; margin:10px; font-size:0.8em;}
.bigDiv div {margin:5px 10px;padding:0;}
.bigDiv div div {margin:0;padding:0}
input.toggler {width:90%; margin:10px 5% 0 5%; font-size:1.3em; font-weight:bold;}
td {padding:5px; border:1px solid #000;}
th {padding:0px; background-color:#323B5E; color:#fff; border:1px solid #000;}
th:hover {background-color:#303F7D;}
th a {color:#F4FDE4; display:block; cursor:pointer; padding:4px 0 0 0; width:100%; height:30px; vertical-align:middle;}
.orderUP {background-color:#303F7D;}
.orderDOWN {background-color:#303F7D;}
.helps {background-color:#8DF24B;}
.althelps {background-color:#ABF27D;}
.hurts {background-color:#FA8059;}
.althurts {background-color:#FF9371;}
.conflict {background-color:#FFD200;}
.altconflict {background-color:#FFDC3B;}
.button_link {cursor:pointer; font-size:1em; padding:0.4em; font-weight:bold; color:black;}
a {text-decoration:none; }
	.lib_goal_checks {border:1px solid black; width:400px;  margin:10px 300px 0 0; }
	.lib_goal_checks div.visible { max-height:500px; overflow-y:scroll;}
	.lib_goal_checks h4, #alternatives_analysis_container h4 {padding:8px 5px; font-size:1em; margin:0;background:#323B5E url('buttons.png') no-repeat 365px 0px; color:#fff; cursor:pointer;}
	.lib_goal_checks h4.act, #alternatives_analysis_container h4.act {background:#004080 url('../img/buttons.png') no-repeat 365px -34px;}
	.lib_goal_checks div { padding:10px;border-top:1px solid #ddd; background:#fff;}
	.lib_goal_checks div.alternate, #report tr.alternate {background-color:#F4FDE4;}
	.more_info_btn {display:inline;padding:1px 3px 3px 3px; cursor:pointer; font-weight:bold; font-size:15px; text-align:center; width:15px; height:15px;  border:1px solid black; border-radius:2px;-moz-border-radius:2px; -webkit-border-radius:2px; padding:0px 1px 3px 1px;}
	.lib_goal_checks div span, .correlation_helps span.passive, .correlation_hurts span.passive, .correlation_conflict span.passive, span.act, .correlation_hurts span.act, .correlation_conflict span.act, #alternatives_analysis_container ul li div.passive, #alternatives_analysis_container ul li div.act  {cursor:pointer; font-weight:bold; font-size:15px; text-align:center; width:15px; height:15px;  border:1px solid black; border-radius:2px; float:right; -moz-border-radius:2px; -webkit-border-radius:2px; padding:0px 1px 3px 1px;}
	.lib_goal_checks div span, .correlation_helps span, .correlation_hurts span, .correlation_conflict span {display:block; float:right;padding:0px 1px 3px 1px;}
	.lib_goal_checks div span.passive, .correlation_helps span.passive, .correlation_hurts span.passive, .correlation_conflict span.passive, .more_info_btn, #alternatives_analysis_container .passive {background-color:#bbb; color:#222;}
	.lib_goal_checks div span.passive:hover, .correlation_helps span.passive:hover, .correlation_hurts span.passive:hover, .correlation_conflict span.passive:hover, #alternatives_analysis_container .passive:hover {background-color:#73C0C0; color:#112962;}
	.lib_goal_checks div span.act:hover, .correlation_helps span.act:hover, .correlation_conflict span.act:hover, .correlation_hurts span.act:hover, #alternatives_analysis_container .act:hover {background-color:#222; color:#bbb;}
	.lib_goal_checks div span.act, .correlation_helps span.act, .correlation_conflict span.act, .correlation_hurts span.act, #alternatives_analysis_container .act {background-color:green; color:#eee;}
#alternatives_analysis_container img.q7 {cursor:pointer;}
#alternatives_analysis_container li  {}
	#descriptions_box {float:right; width:380px; margin:0 40px 0 0;}
	#lib_goals_descriptions_box {float:right;  width:380px; margin:0 140px 0 0;}
	#lib_goals_descriptions_box div, #descriptions_box div {border:1px solid #000; background:#fff; padding:10px; position:relative; width:360px; }
	#lib_goals_descriptions_box div h4, #correlations_description_box div h4, #descriptions_box div h4 {margin:0; padding:0;}
	#correlations_description_box {float:right; width:440px; margin:0 45px 0 0;}
	#correlations_description_box div {border:1px solid #000; background:#fff; padding:10px; position:relative; width:420px; overflow-x:scroll; overflow-y:hidden;}
	#correlations_description_box div table {font-size:10px;}
	#correlation_list {margin:0;padding:0;}
	#lib_goals_list div {margin:5px ;padding:0}
	#correlation_list div {margin:0 0 0 5px;padding:5px 5px 5px 0;}
	.correlation_helps, .correlation_hurts, .correlation_conflict {width:440px;}
	div.rationale {font-size:0.7em; border:0; background:none; color:#444;}
	div.rationale input {font-size:0.9em;}
	td.important {font-weight:bold;}
	span.important {display:inline; visibility:visible; font-weight:bold; font-size:1.3em;}
	p.spanned {clear:both}
	p.spanned span {float:left; margin:5px 7px; padding:3px 7px; border:1px solid #ccc; background:#eef; font-size:12px;}
	#alternatives_status {width:400px; height:30px; border:1px solid #ddd;}
#alternatives_status.popop{background-color:#FFD200; border:1px solid orange;}
.alternatives_deselected {text-decoration: line-through; color:#ccc; background-color:#444;}
.alternatives_not_applicable {text-decoration: line-through; color:#ccc;}
.alternatives_id {font-size:0.5em; line-height:0.7em; padding:0; height:20px; float:right;}
.alternatives_id option {height:10px ;font-size:0.7em; padding:0;}
.alternatives_id select {height:10px;font-size:0.7em; padding:0;float:right;}
.alternatives_L2 div.passive, .alternatives_L2 div.act {float:right; margin:0 20px 0 0;}
.alternatives_L3 div.passive, .alternatives_L3 div.act {float:right; margin:0 40px 0 0;}
.alternatives_L1 div.passive, .alternatives_L2 div.passive, .alternatives_L3 div.passive, #alternatives_analysis_container .passive {display:block; cursor:pointer; font-weight:bold; font-size:15px; text-align:center; width:15px; height:15px;  border:1px solid black; float:right; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;}
.small {font-size:0.7em;}
option.small, select.small {height:20px;}

div#menu {border:0px; margin:15px 5px; font-size:1.1em; font-family:monospace; font-weight:bold; background-color:#303F7D;}
div#menu li {border:2px solid #303F7D; list-type-style:none; padding:5px 10px; display:inline; margin:5px 40px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background-color:#F4FDE4}
div#menu li.inactive {background-color:#ccc;}
div#menu li.inactive:hover {background-color:#ccc;}
div#menu li.current {color:#933;}
div#menu li.current:hover {background-color:#F4FDE4}
div#menu li.parent {font-style:italic;}
div#menu li:hover {background-color:#FFF6ED;}
div#menu li a:hover {color:red;}
div#menu li.index {margin:5px 125px 5px 10px;}
#menu ul {margin:0px auto; display:block; padding:0;}
#menu ul#sub {margin:0px 0; font-size:1em; padding:10px 0 3px 110px; background-color:#F4FDE4; border:1px solid #000}
#menu ul#sub2 {margin:0px 0; font-size:1em; padding:10px 75px 3px 0; text-align:right; background-color:#F4FDE4; border:1px solid #000}
#menu ul#sub li, #menu ul#sub2 li {background:none; border:0; margin:0 10px; padding:0;}
span.mod_link {float:right; margin:15px 450px 0 0;}
#alternatives_analysis_container checkbox {display:block; width:20px; height:20px;}
#alternatives_analysis_container select {font-size:1.1em;}
#alternatives_analysis_container p {height:10px !important;}
td.number {text-align:center; font-size:2em; font-weight:bold;}
.checkbox, .radio {
	width: 50px;
	height: 51px;
	padding: 0 7px 0 0;
	background: url(../img/checkbox.gif) no-repeat;
	display: block;
	clear: right;
	float: right;
}
td.design {font-weight:bold; font-size:1.3em;}
.desc {font-style:italic;}
