	body {font-family:Arial, sans serif;}
	td {padding:5px; border:1px solid #000;}
	th {padding:5px; background-color:#095E40; color:#fff; border:1px solid #000;}
	th:hover {background-color:#38AF85; cursor:pointer;}
	th a {color:yellow; display:block;}
	.orderUP {background-color:#38AF85;}
	.orderDOWN {background-color:#38AF85;}
	.helps {background-color:#A0F06C;}
	.althelps {background-color:#ABF27D;}
	.grouphelps {background-color:#60BE23;}
	.hurts {background-color:#FF8963;}
	.althurts {background-color:#FF9371;}
	.grouphurts {background-color:#FF6F41;}
	.cool {font-family:monospace;}
	.column {font-weight:bold;}
	.top {border-top:4px solid #000;border-left:4px solid #000;border-right:4px solid #000;}
	.bottom {border-bottom:4px solid #000;border-left:4px solid #000;border-right:4px solid #000;}
	.middle {border-left:4px solid #000;border-right:4px solid #000;}
	.alternate{}
	.node {font-family:monospace; display:block; font-size0.8em;}
	select {float:left; margin:0 20px 10px 0;}
	.selected {background-color:#yellow; color:red; font-weight:bold;}
	#loader, #reviewer, #analyser {float:right; margin:10px; padding:10px; border:1px solid #ccc; height:130px}
	#loader h2, #reviewer h2, #analyser h2 {margin:0 0 10px 0; padding:0;}
	select#select_design_name {width:100px; font-size:1.4em;}
